.page-jas {
  h3 {
    font-weight: bolder;
    margin-bottom: 80px;
    text-align: center;
    margin-top: 50px;
  }

  .store-trend-categories {
    margin-top: 50px;
  }

  .store-new-product {
    margin-top: 10px;
  }
}
